#armen4ik{
    font-family: Montserrat, sans-serif;
    margin-top: 200px;
    background: #FFFAFE;
	 margin-bottom: 200px;
}

#armen4ik p{
    max-width: 600px;
    margin-top: 20px;

	 @media(max-width: 1180px){
		max-width: 400px;
	 }
}

.armen4ik_photo{
	img{
		@media(max-width: 985px){
			width: 250px;
			height: 250px;
		}
	}
}

#armen4ik h2{
    max-width: 600px;
    margin-top: 50px;
}

.armen4ik_row{
    display: flex;
    justify-content: space-between;
	 align-items: center;
    font-size: 18px;

	 @media(max-width: 860px){
		flex-direction: column-reverse;
	 }
}

.arrows {
    margin-top: 25px;
}

.armen4ik_text{
	p{
		@media(max-width: 445px){
			
		}
	}
}