#hero{
	padding-top: 30px;
	padding-bottom: 122px;
}
.hero-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	@media (max-width: 880px){
		justify-content: center;
	}

	@media (max-width: 420px){
		display: block;
	}
}
.hero-text {
	h1{
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		line-height: 110%;
		color: $primary-color;

		@media (max-width: 400px){
			font-size: 40px;
		}

		@media(max-width: 325px){
			font-size: 30px;
		}
	}

	.hero-title-last{
		color: $secondary-color;
		margin-bottom: 16px;
	}
	p{
		margin-bottom: 32px;

		@media (max-width: 435px){
			font-size: 14px;
		}

		@media (max-width: 358px){
			font-size: 12px;
		}
		@media(max-width: 325px){
			font-size: 10px;
		}
	}
}

.hero-text-form{
	background: #FFFFFF;
	border: 1px solid #DFE8FA;
	border-radius: 15px;
	padding: 0px 22px;
	margin-bottom: 20px;

	box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.2s ease-in;

	&--active{
		box-shadow: 0px 17px 42px rgba(247, 132, 52, 0.3);
	}

	input{
		width: 350px;
		height: 48px;

		@media (max-width: 400px){
			width: 170px;
		}
	}
}

.hero-text--btnLine{
	display: flex;
	align-items: center;
	gap: 25px;
	padding-bottom: 32px;

	@media (max-width: 367px){
		gap: 10px;
	}

	button{
		@media (max-width: 367px){
			font-size: 12px;
		}

		@media (max-width: 330px){
			padding: 15px 14px;
		}
	}

	h2{
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 146%;
		color: #BBC0C7;
		max-width: 160px;

		@media (max-width: 350px){
			font-size: 12px;
		}
	}
}

.hero-text--starsLine{
	display: flex;
	align-items: center;
	gap: 25px;
	padding-bottom: 22px;
	

	div{
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 180%;
		color: #677487;

		@media (max-width: 435px){
			font-size: 12px;
		}
	}
}

.hero-text-images{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.hero-img{
	img{
		@media (max-width: 1195px){
			width: 600px;
			height: 600px;
		}

		@media (max-width: 1075px){
			width: 500px;
			height: 500px;
		}

		@media (max-width: 975px){
			width: 400px;
			height: 400px;
		}
		@media (max-width: 880px){
			display: none;
		}
	}
}