//JetBrains Mono
#learn{
	padding-top: 90px;
}

.learn-heading {
	margin-bottom: 50px;
	
	ul{
		display: flex;
		flex-wrap: wrap;
		gap: 40px;

		@media(max-width: 505px){
			gap: 20px;
		}

		@media(max-width: 425px){
			gap: 15px;
		}
	}


}

.learn-heading--button{
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 180%;
	color: $primary-color;

	@media (max-width: 660px){
		font-size: 18px;
	}

	@media (max-width: 540px){
		font-size: 16px;
	}

	@media (max-width: 400px){
		font-size: 14px;
	}


	&__active{
		border-bottom: 1px solid $secondary-color;
	}
}

.learn-row {
	display: flex;
	justify-content: space-between;

	@media(max-width: 855px){
		justify-content: center;
	}

	@media(max-width: 425px){
		display: block;
	}
}
.learn-text {
	
	display: none;

	&--active{
		display: block;
	}

	p{
		max-width: 368px;

		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 180%;
		color: #677487;

		margin-bottom: 30px;

		@media (max-width: 375px){
			font-size: 15px;
		}
	}
}

.learn-text-title{


	max-width: 398px;

	font-style: normal;
	font-size: 46px;
	font-weight: 700;
	line-height: 110%;

	margin-bottom: 24px;

	color: $primary-color;

	h1{
		@media(max-width: 440px){
			font-size: 36px;
		}
		@media(max-width: 325px){
			font-size: 28px;
		}
	}

	.learn-text-title--secondRow{
		display: flex;
		gap: 10px;

	}

	.learn-text-title--secondary{
		color: $secondary-color;
	}
}

.learn-text-title--replaces{
	margin-bottom: 30px;
	
	h3{
		font-weight: 400;
		font-size: 14px;
		line-height: 180%;
		letter-spacing: 0.2em;
		color: #677487;

		margin-bottom: 8px;
	}

	ul{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	li{
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 180%;
		color: $primary-color;
	}
}

.learn-img {
	img{
		@media(max-width: 1147px){
			width: 500px;
			height: 500px;
		}

		@media(max-width: 970px){
			width: 400px;
			height: 400px;
		}

		@media(max-width: 855px){
			display: none;
		}
	}
	
}